<nav class="navbar">
    <div class="navbar-left">
        <img src="\assets\logo.svg" alt="Logo" class="logo">
    </div>
    <div class="navbar-middle">
        <p>Explore the fun of South Park</p>
    </div>
    <div class="navbar-right">
        <ul class="nav-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Characters</a></li>
            <li><a href="#">Episodes</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
            <button type="button">Search</button>
        </div>
    </div>
</nav>